/*----------------
    Media info
----------------*/

#mpris {
	padding: 0 12px;
}

/*------------
    Volume
------------*/


#pulseaudio,
#wireplumber {
	background-color: @volume;
}

/*----------------
    Brightness
----------------*/


#backlight {
	background-color: @backlight;
}

/*-------------
    Battery
-------------*/


#battery {
	background-color: @battery;
}


/*----------------
    Power menu
----------------*/

#custom-power {
	color: @accent;
}
#custom-power:hover {
	background-color: @hover-bg;
}
